.header {
  margin-bottom: 40px;
  padding: 23px 0;
  background-color: var(--black-color);

  &__container {
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
  }

  &__tel {
    display: none;
  }

  &__nav {
    max-width: 742px;
  }

  &__nav-list {
    justify-content: space-between;
  }

  &__nav-item {
    &:not(:last-child) {
      margin-right: 79px;
    }


  }

  &__nav-link {
    color: #fff;
    transition: color .3s ease-in-out, padding .3s ease-in-out, background-color .3s ease-in-out;

    @include Link (#fff, var(--hover-color), var(--active-color));
    &:focus {
      padding: 2px 3px;
      background-color: var(--focus-color);
    }
  }

  &__btn {
    width: 25px;
    height: 25px;
  }

  &__btn-svg {
    width: 100%;
    height: 100%;
      fill: white;
      transition: fill .3s ease-in-out;
    &:hover {
      fill: var(--hover-color);
    }
  }

  &__form {
    display: none;
    width: 200px;
  }

  &__form-show {
    display: flex;
  }

  &__form-input {
    width: 100%;
    margin-right: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--gray-color);
    background-color: var(--black-color);
  }
}

