:root {
  --black-color: #202020;
  --gray-color : #cacaca;
  --gray-color9: #999;
  --hover-color: #ff6e30;
  --btnBg-color: #ff6e30;
  --focus-color: #bc572b;
  --active-color: #ce4307;
  --hoverBtn-color: #bc572b;
}
